<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="~{components :: head}"></head>

<body>

<header>
    <nav class="navbar navbar-light bg-light">
        <div class="container">
            <span class="navbar-brand">
                <img src="/chat.png" alt="" width="24" height="24" class="d-inline-block align-text-top">
                <span class="fs-5">ChatApp </span>
                <span class="fs-6 fw-light">with WebSocket</span>
            </span>
            <a th:href="@{/}" class="text-decoration-none">
                <i class="bi bi-box-arrow-right"></i> Exit
            </a>
        </div>
    </nav>
</header>

<main class="container">
    <div class="row mt-4">
        <div class="col">
            <h3 class="fs-3">Welcome, <span th:text="${username}">username</span></h3>
            <div class="ms-0 mt-4 m-4">
                <input type="text" name="message" id="message" class="message-container form-control mb-3">
                <input type="hidden" name="username" id="username" th:value="${username}">
                <div class="d-flex justify-content-left" style="float: right;">
                    <button class="btn btn-outline-danger" onclick="clearMsg()">
                        <i class="bi bi-x-square"></i> Clear
                    </button>
                    <button class="btn btn-outline-primary ms-3" onclick="sendMsgToServer()">
                        <i class="bi bi-send"></i> Send
                    </button>
                </div>
            </div>
        </div>

        <div class="col">
            <span class="fs-5"><i class="bi bi-circle"></i> Content</span>
            <span class="fs-5 ms-5"><i class="bi bi-people"></i> Online Users
                <span class="btn btn-primary m-1 ms-2" id="onlineCount">1</span></span>

            <div class="row ms-1" id="chat-messages">
            </div>
        </div>
    </div>
</main>

<script src="chat.js"></script>

<footer th:replace="~{components :: footer}"></footer>

</body>

</html>