<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="~{components :: head}"></head>

<body>

<main class="container">
    <div class="d-flex align-items-center justify-content-center" style="height: 620px">
        <div class="card">
            <div class="text-center m-4 mb-0">
                <img src="chat.png">
                <span class="fs-3">ChatApp</span><br>
                <span class="fs-6 fw-light lefty">with WebSocket</span>
            </div>
            <form class="m-4">
                <div class="mb-4">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" class="form-control" id="username" name="username">
                </div>
                <button type="button" class="btn btn-primary container" onclick="login()">Entrar</button>
            </form>
        </div>
    </div>

</main>

<script src="login.js"></script>

<footer th:replace="~{components :: footer}"></footer>

</body>
</html>